html, body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 25px 30px;
    margin: 0px 3px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.row{
    margin: 4px 0px;
}

.row input{
    font-size: 20px;
    margin: 10px 0px;
    padding: 15px 0px 10px 0px;
    border: 1px solid  black;
    border-radius: 5px;
    text-align: center;
}

.btnnew{
    padding: 20px 27px;
    margin: 0px 3px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

